.header {
  width: 100%;
  height: 5rem;
  background-color: #8a2b06;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
  line-height: 30px;
}

.logo {
  font-weight: bold;
  color: #fff;
}
